asgiref
Django
django-modeltranslation
django-nested-inline
djangorestframework
pillow
psycopg2
python-dotenv
sqlparse
typing-extensions
drf_spectacular
gspread
oauth2client
django-nested-admin
django-cors-headers
xhtml2pdf